<h2>Available drones</h2>
{{#each droneList}}
<div>
    <p>Name: {{name}}</p>
    <p>Propellers: {{propellers}}</p>
    <p>MaxSpeed: {{maxSpeed}} </p>
    
<a href="/drones/{{_id}}/edit">
    <button>Edit</button>
  </a>
  <form action="/drones/{{_id}}/delete" method="POST">
    <button>Delete</button>
  </form>
  
  <br>
{{/each}}
</div>
